$cBlack: black;

.three-dot-spinner {
  text-align: center;

  & div {
    display: inline-block; // 縦幅・横幅を設定でき、かつtext-align: centerを設定できる
    width: 18px;
    height: 18px;
    background-color: $cBlack;
    border-radius: 50%; // 50%は丸
    animation: sk-bouncedelay 1.4s infinite;
  }

  & .bounce1 {
    animation-delay: -0.32s;
  }

  & .bounce2 {
    animation-delay: -0.16s;
  }
}

@keyframes sk-bouncedelay {
  // ここでアニメーションを定義する
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }

  80% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}
